<!-- app/views/home/index.html.erb -->

<div class="container">
  <h1 class="text-center">Latest News</h1>

  <!-- Category Sections -->
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <div class="category-section">
          <h2 class="category-title"><%= link_to category.name, category_path(category) %></h2>
          
          <!-- Posts under each category (limit to 3 posts) -->
          <ul class="list-unstyled">
            <% category.posts.limit(3).each do |post| %>
              <li>
                <h5><%= link_to post.title, post_path(post) %></h5>
                <p><%= truncate(post.description.to_plain_text, length: 150) %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Latest Posts Section -->
  <div class="row">
    <h2>Latest Posts</h2>
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
            <p class="card-text"><%= truncate(post.description.to_plain_text, length: 100) %></p> <!-- Use to_plain_text here as well -->
            <%= link_to 'Read More', post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
