<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>

  <!-- Add the JavaScript and stylesheet pack tags here -->
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- Make sure this includes styles -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  <!-- Make sure this includes JavaScript -->
  
</head>
<body>
  <h1>Admin Dashboard</h1>
  <nav>
    <%= link_to 'Posts', admin_posts_path %> |
    <%= link_to 'Categories', admin_categories_path %> |
    <%= link_to 'Authors', admin_authors_path %>
  </nav>
  
  <%= yield %>
</body>
</html>
